@font-face {
  font-family: "Montserrat"; 
  src: url("./Montserrat-VariableFont_wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

h1{
  font-family: 'Montserrat';
  color: white;
  font-size: 48px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0);
  background-image: url("./png/3.png");
  background-size: contain;
  min-height: 100vh;
}

.App2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  align-items: "center";
}

#button {
  background-image: url('./Images/buttonOff.png');
  position: fixed;
  top: 0px;
  left: 1050px;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-left: 38px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#button:hover {
  background-image: url('./Images/buttonOn.png');
  height: 180px;
  width: 180px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.store{
  background-size: cover;
  min-height: 100vh;
  padding: 2% 5%;
}

.nav{
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.40) 10.63%, rgba(255, 255, 255, 0.10) 73.38%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
  width: 170px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 12px;
  z-index: 2;
}

#store{
  width: 128px;
  height: 60px;
}

.nav:hover{
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.50) 10.63%, rgba(255, 255, 255, 0.20) 73.38%);
}

.modal-text{
  font-family: 'Montserrat';
  color: rgba(255, 255, 255, 0.40);
  font-size: 22px;
  display: flex;
  align-items: flex-start;
}

.continue{
  width: 215px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(127deg, rgba(255, 255, 255, 0.1) 10.63%, rgba(255, 255, 255, 0.05) 50.38%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
  font-family: 'Montserrat';
  color: white;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}

.block{
  width: 20vw;
  margin-bottom: 60px;
  img{
    width: 20vw;
    height: 20vw;
  }
}

.price{
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 20px;
}

.content{
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50vw;
}

p{
  font-family: 'Montserrat';
  color: white;
  font-size: 20px;
}

.buttons{
  position: fixed;
  top: 160px;
  left: 1060px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.icons{
  width: 5vw;
}

.store-title{
  position: absolute;
  top: 45px;
  left: 42vw;
  font-size: 4vh;
  text-shadow: #FFFFFF 1px 0 10px;
}

#add-to-basket{
  height: 40px;
  text-align: center;
  padding-top: 4px;
}

#email{
  text-align: center;
  width: 18vw;
  height: 30px;
  padding: 15px
}

.photo_1{
  position: fixed;
  width: 20vw;
  top: 0;
  left: 0;
}
.photo_2 {
  position: fixed;
  width: 20vw;
  bottom: 0;
  right: 0;
}

.bio {
  width: 44vw;
}

@media (max-width: 1200px) { 
  .bio {
    position: absolute;
    top: 160px;
    width: 95vw;
  }

  .nav{
    font-size: 12px;
  }

  #store{
    width: 70px;
    height: 35px;
    margin: 32px;
  }

  .buttons{
    top: 200px;
    left: calc(50vw - 80px);
  }

  #button {
    top: 20px;
    left: calc(50vw - 90px);
  }

  .excess{
    position: absolute;
    left: 5%; 
    top: 65%;
    width: 90vw;
  }

  .dawn{
    position: absolute;
    left: 5%; 
    top: 100%;
    width: 90vw;
  
  }

  .icons{
    width: 17vw;
  }

  .App2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 140vh;
  }

  .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
  }

  .block{
    width: 40vw;
    cursor: pointer;
    margin-bottom: 60px;
    img{
      width: 40vw;
      height: 40vw;
    }
  }

  .store-title{
    font-size: 22px;
    top: 0;
    left: calc(50vw - 100px);
  }

  p{
    font-size: 12px;
  }

  .modal-text{
    font-size: 18px;
  }

  #add-to-basket{
    height: 30px;
    text-align: center;
    padding-top: 4px;
  }

  .continue{
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(127deg, rgba(255, 255, 255, 0.1) 10.63%, rgba(255, 255, 255, 0.05) 50.38%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.5px);
    font-family: 'Montserrat';
    color: white;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
  }

  #email{
    text-align: center;
    width: 60vw;
    height: 60px;
    padding: 15px;
    font-size: 18px;
  }
}
